body  {
  font-family: helvetica;
  text-align: center;

}
h1  {
  color: white;
  font-size: 70px;
  font-weight: bold;

}
a {
  font-size: 18px;
  color: white;

}
h2  {
  font-size: 32px;
  font-weight: bold;

}
p {
  font-size: 14px;
}

footer  {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}

.head {
  background-color:;
  background-image: url(../pictures/the-flatiron-building.png);

}
.second-header {
  background-image: url(../pictures/the-flatiron-building.png);
  color: white;
}
